* {
  background-color: #f2eeea;
}

.line {
  width: 1px;
  height: 100%;
  margin-left: 10%;
  background-color: black;
}

.presentacion {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: medium;
  width: 30%;
  height: 40vh;
}
